.productName {
    #showProductName {
        padding-top: 70px;
        .left {
            position: relative;
            width: 25vw;
            height: 50vh;
            top: 58px;
            left: 65px;
            background-color: $color11;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .right {
            padding-top: 67px;
            // width: 40vw;

            h3 {
                @include text($fs11, $fw3, $color1, $lh3);
            }

            p {
                @include text($fs13, $fw4, $color13, $lh2);
            }

            h4 {
                @include text($fs12, $fw5, $color12, $lh5);
            }

            h5 {
                @include text($fs11, $fw6, $color14, $lh3);
            }

            .size {
                li {
                    list-style: none;
                    width: 3vw;
                    height: 3.6vw;
                    text-align: center;
                    @include text($fs10, $fw6, $color16, $lh8);
                    margin-right: 21px;
                    background-color: $color15;
                    &:hover {
                        background-color: $color16;
                        @include text($fs10, $fw6, $color11, $lh8);
                        cursor: pointer;
                    }
                }
            }

            .soLuong {
                li {
                    list-style: none;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    @include text($fs4, $fw6, $color16, $lh7);

                    button {
                        width: 3vw;
                        height: 6vh;
                        background-image: $color-Btn1;
                        line-height: 10px;
                        color: $color3;
                        border: transparent;
                        cursor: pointer;
                    }

                    span {
                        text-align: center;
                        @include text($fs4, $fw4, $color1, $lh7);
                    }
                }
            }

            button {
                width: 8vw;
                height: 8vh;
                background-image: $color-Btn2;
                border: none;
                @include text($fs11, $fw5, $color3, $lh7);
            }
        }
    }
}

/**---------------RESPONSIVE--------------------**/

@media screen and (max-width:921.98px) {
    .productName {
        

        .right {
            padding-top: 67px;
            width: 100%;
            padding-left: 10vw;

            h3 {
                font-size: 20px !important;
            }

            p {
            font-size: 13px !important;
              }

            h4 {
            font-size: 15px !important;
            }

            h5 {
            font-size: 18px !important;
            }
            .size {
                li {
                    width: 50px;
                    height: 50px;
                    @include text($fs3, $fw6, $color16, $lh7);
                }
            }

            .soLuong {
                li {
                    list-style: none;
                    width: 50px !important;
                    height: 50px !important;
                    text-align: center;
                    line-height: 50px;
                    @include text($fs4, $fw6, $color16, $lh7);

                    button {
                        width: 25px !important;
                        height: 25px !important;
                        background-image: $color-Btn1;
                        color: $color3;
                        border: transparent;
                        cursor: pointer;
                    }

                    span {
                        line-height: 10px;
                        text-align: center;
                        @include text($fs4, $fw4, $color1, $lh7);
                    }
                }
            }

            button {
                width: 80px;
                height: 62px;
                background-image: $color-Btn2;
                border: none;
                @include text($fs12, $fw5, $color3, $lh7);
            }
        }
    }
}
