@mixin text($fs, $fw, $color, $lh) {
    font: {
        size: $fs;
        weight: $fw;
    }
    color: $color !important;
    line-height: $lh;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}
