//Font size
$fs1: 16px;
$fs2: 20px;
$fs3: 24px;
$fs4: 30px;
$fs5: 40px;
$fs6: 2vw;
$fs7: 3vw;
$fs8: 4vw;
$fs9: 14px;
$fs10: 1.4vw;
$fs11: 1.7vw;
$fs12: 1.5vw;
$fs13: 1vw;

//Font weight
$fw1: 100;
$fw2: 200;
$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$fw8: 800;
$fw9: 900;

//Color
$color1: #000000;

$color3: #ffffff;
$color4: #fffcfc;
$color5: #f7f7f7;
$color6: #cbc9c9;
$color7: #030303;
$color8: #f8b653;
$color9: #dedddc;
$color10: #e1b067;
$color11: #f8f8f8;
$color12: #1ed90e;
$color13: #140101;
$color14: #fc0303;
$color15: #cccccc;
$color16: #1e1d1d;
$color17: #d9d9d9;
$color18: #ae18e2;
$color19: #f50e0e;
$color20: #f8f8f8;

$color-Btn1: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
$color-Btn2: linear-gradient(
  270deg,
  rgba(62, 32, 248, 0.9) 5.14%,
  #d017ee 89.71%
);

//Line height
$lh1: 24.2px;
$lh2: 19px;
$lh3: 36px;
$lh4: 48.41px;
$lh5: 29px;
$lh6: 64px;
$lh7: 50px;
$lh8: 3.6vw;

$pd1: 100px;
